<% include partials/header %>

<h1><%= article.title %></h1>
<h3>Description : <%= article.description %></h3>
<h3>Author : <%= article.author %></h3>
<div>
	<h4 class="tags">Tags :</h4>
	<h4 class="tags">
		<% article.tags.forEach(t => { %>
		<p class="tags"><%= t %></p>
		<% }) %>
	</h4>
</div>

<% article.comments.forEach( c => { %>
<p class="comment"><%= c.content %></p>
<div>
	<a href="/articles/<%= article.id %>/comments/<%= c.id%>/edit">
		<input class="articleEditWrapper" type="submit" value="Edit Comment" />
	</a>
	<a href="/articles/<%= article.id %>/comments/<%= c.id%>/delete">
		<input class="articleEditWrapper" type="submit" value="Delete Comment" />
	</a>
	<p class="commentBy articleEditWrapper">Comment Made By : <%= c.author %></p>
</div>

<% }) %>
<form action="/articles/<%= article.id %>/comments" method="POST">
	<input
		class="articleDetailsInput"
		type="text"
		name="content"
		placeholder="Add comment.."
	/>
	<input
		class="articleDetailsInput"
		type="text"
		name="author"
		placeholder="Author"
	/>
	<input class="articleDetailsInput" type="submit" value="Add Comment" />
</form>
<div class="articleDetailsWrapper">
	<a href="/articles/<%= article.id %>/likes">
		<i class="fas fa-thumbs-up thumb increment"></i>
	</a>
	<span class="span"><%= article.likes%></span>
	<a href="/articles/<%= article.id %>/dislikes">
		<i class="fas fa-thumbs-down thumb decrement"></i>
	</a>
</div>
<div>
	<a href="/articles/"> <h5 class="articleEditWrapper">HOME</h5> </a>
	<a href="/articles/<%= article.id%>/edit">
		<h5 class="articleEditWrapper">EDIT</h5>
	</a>
	<a href="/articles/<%= article.id %>/delete">
		<h5 class="articleEditWrapper">DELETE</h5>
	</a>
</div>

<% include partials/footer %>
